Repository GTBitsOfGood/enchanted-closet, pull requests merged in 2018-11, with the labels that each got.

#223 #222: Stub Reset Password API
  backend/controllers/auth.js
  backend/routes.js
Labels: backend, enhancement

#225 #220: Redux Actions for Reset Password Component
  backend/controllers/auth.js
  frontend/actions/auth.js
  frontend/components/forms/ResetPasswordForm.js
Labels: enhancement, frontend

#230 211 handle temp password
  .gitignore
  backend/auth.js
  backend/controllers/auth.js
  backend/controllers/events.js
  backend/controllers/users.js
  backend/gmailAuth.js
  backend/models/user.js
  backend/routes.js
  frontend/actions/auth.js
  frontend/actions/user.js
  frontend/components/dashboards/BaseDashboard.js
  frontend/components/forms/ResetPasswordForm.js
  frontend/containers/Admin/UsersDetail.js
  frontend/containers/EventsDetail.js
  frontend/store/localStorage.js
  package.json
  server.js
Labels: backend, enhancement, frontend

#235 # 234: Display message on incorrect password during login
  backend/controllers/auth.js
  backend/routes.js
Labels: backend, bug

#232 #231: Password Reset Spam Prevention
  backend/auth.js
  backend/controllers/auth.js
  backend/controllers/users.js
  backend/gmailAuth.js
Labels: backend, enhancement

#236 Fix year attendance report
  backend/controllers/reporting.js
Labels: backend, bug

#229 #227: T-Shirt Field on User Profile
  backend/controllers/users.js
  backend/models/user.js
  frontend/components/ECDemographicsCard.js
  frontend/components/forms/ProfileForm.js
  frontend/components/profile/ProfileParticipant.js
  frontend/containers/Admin/UsersNew.js
  frontend/helpers/util.js
Labels: backend, enhancement, frontend

#238 # 237: Mongoose email validation
  backend/models/user.js
  package-lock.json
  package.json
Labels: backend, bug

#239 # Backend unified error codes
  backend/routes.js
Labels: backend, bug

#245 Fix errors being dismissed early
  frontend/actions/loading.js
  frontend/reducers/index.js
Labels: bug, frontend
